<%= stylesheet_link_tag 'index', :media => "all" %>

<body>

 <div class="bg_test">
    <div class="bg_test-text">
    
    </div>
 </div>
  <div class="box19">
    <h1>「日本酒の知識」</h1>
  </div>

   <div class="box1">
   <h1>製法</h1>
   </div>
  <div class="seihou-container">
   
    <div class="seihou">
     
       <span class="title-box">
         1.精米
       </span>
      
       原料となる米の不要な部分を削る
    </div> 
    <div class="seihou">
       <span class="title-box">
       2.洗米・浸漬
       </span>
       米の表面に残っているぬかなどを洗い流し米に吸収させる
     </div>
     
     <div class="seihou">
       <span class="title-box">
        3.蒸し  
       </span>
        雑菌の作用を受けやすくするために米を蒸気で加熱する
     </div>
     <div class="seihou">
        <span class="title-box">
         4.製麹（せいきく）
        </span>
        蒸した米に麹菌を繁殖させる
      </div>
      <div class="seihou">
       <span class="title-box">
         5.酒母づくり、 
       </span>
        酵母を育てるための酵母(酛)をつくる
      </div>
      <div class="seihou">
       <span class="title-box">
        6.醪造り
       </span>
      仕込みタンクに酒母を入れ、蒸米・麹・水を数回に分けて加えてアルコール発酵を行う
      </div>
      <div class="seihou">
      <span class="title-box">
       7.搾り
      </span>
       醪（もろみ）を酒と酒粕に分ける
      </div>
      <div class="seihou">
      <span class="title-box">
       8.ろ過
      </span>
       細かくなった米や酵母等の小さな固形物を除去する
       </div>
      <div class="seihou"> 
      <span class="title-box">
       9.加水
      </span>
      水を加え、アルコール度数を調整する
      </div>
      <div class="seihou"> 
       <span class="title-box">
       10.火入れ
       </span>
       温湯に通して雑菌、酵素の働きを止める
      </div>
      <div class="seihou"> 
       <span class="title-box">
       11.火入れ
       </span>
       同様に、温湯に通して雑菌、酵素の働きを止める
      </div>
      <div class="seihou"> 
        <span class="title-box">
          12.瓶詰め
        </span>
        瓶に詰めて出荷する
      </div>

   
   </div>

  <div class="box1">
  <h1>日本酒の酒類</h1>

  </div>
  <div class="syurui-conatainer" >
    日本酒は、原材料や製造方法の違いによってその種類が細かく分類されています。
   <div class="box2">
    <h3>・吟醸酒</h3>
   </div>
   <div class="ginjyo-container">
   <div class="box11"> 
     純米酒または本醸造酒で、※₁精米歩合60%以下まで高度に精米した米を使い、低温で時間をかけてアルコール発酵させたもの
   　　<br><br><br>
     ※₁「精米歩合」とは玄米を削り残った割合を%で示したもの。精米歩合60%は、表層部を40%削り取ること。
     削り取るほどにすっきりした味わいになる。

     </div>
      <div class="ginbox">
   
      </div>
   </div> 
   <div class="box2"> 
    <h3>・純米酒</h3>
   </div>
   <div class="jyunmai-container">
     <div class="box11"> 
      米、※2米麹のみを原料に醸造。米に由来する風味豊かで、一般的に旨味やコクなどの特徴が出やすい。
      <br>味のばらつきが酒類によって出やすい日本酒の一つです。
    <br><br><br>
    ※2蒸した米に麹菌を繁殖させたもの。蒸米と酒母、米麹、水を入れて仕込みを行う。
    麹菌の酵素がデンプンを糖化し、酵母がその糖分をアルコール発酵する。
    
      </div>
       <div class="jyunbox">

       </div>
   </div> 
      <div class="box2">
      <h3>・本醸造酒</h3>
      </div>
     <div class="honjyo-container">
       <div class="box11"> 
        米、米麹に少量の※3醸造アルコールを加えて作る。<br>純米酒は醪(もろみ)をそのまま絞るが、
        本醸造酒は絞る前に少量の醸造アルコール味で調整する。
        <br><br><br>
        ※3さとうきびの糖蜜や米殻類などの含糖分質、デンプン質を原料とし、蒸留されたアルコール。
        絞る前の醪に適量添加すると香りが高く、すっきりとした味わいに。
       </div>
       <div class="honbox">
       </div>
     </div>
 </div>

 <div class="box1">
 <h1>日本酒度って...？</h1>
</div>
 <div class="syudo-container">
   
  <div class="box10"> 
       日本酒度とは日本酒の比重を表すものです。
       普通の水を基準にした場合、糖分などのエキス分が含まれれば含まれるほど液体自体は重くなります。<br>
       プラスになるほど糖分が少なく辛口、マイナスになるほど糖分が多く甘口ということになります。
       辛口といっても、日本酒の「辛口」はいわゆる唐辛子のような刺激ではなく、すっきりとした淡麗な味わいのことを指します。
  </div>
       <div class="syudo-pic">
       </div>
 
      <div class="yukimatu">
        一般的に、アルコール度数が同じ場合日本酒度-3.5~-5.9が「甘口」、-1.5~-3.4が「やや甘口」
       、同様に+1.5~+3.4が「やや辛口」、+3.5~+5.9が「辛口」とされています。
       <br>ちなみに、日本酒の中には日本酒度が+10を超える日本酒もあり、「超辛口」と呼ばれることもあります。
       例としては、宮城県の「雪の松島　超辛口」です。このお酒はなんと日本酒度が+20もあります。
       </div>
       
      <img src="https://taiwagura.co.jp/wp-content/uploads/2018/12/22_1800-300x300.png"style="margin: auto;background-size:cover;"/>
      

      
 </div>
 <br>
 

 

</body>    