<!DOCTYPE html> 
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>香水診断スタート</title>
    </head>

    <body>
    <h1 class="perfumes">おすすめの日本酒診断</h1>
    <div class="btn">
        
     <%= link_to "診断を始める", new_perfume_path, class: "link" %>
    
    </div>
    </body>