<div class="intoro">
<h3>診断結果</h3>
<p>あなたにおすすめの日本酒は…</p>
</div>
<div class="tweet-container">
<div class="tweet">
    <% if @perfume.question == "111" %>
    <h2>真鶴(まなつる)純米吟醸</h2>
    <p>ふくよかな含香。豊潤な風味とまろやかさが特徴</p>
    <p>産地:宮城県<br>
       アルコール度数:15度<br>
       日本酒度:±0<br>
       値段:720ml,2420円
       </p>

    <% elsif @perfume.question == "112" %>
    <h2>陸奥八仙　華想い50 純米大吟醸</h2>
    <p>甘い果実のようなフレーバーが華やかに広がり、甘味と酸味と爽やかさのバランスが整った酒質</p>
    <p>産地:青森県<br>
       アルコール度数:16度<br>
       日本酒度:-1.0<br>
       値段:720ml,2310円</p>

    <% elsif @perfume.question == "122" %>
    <h2>楯野川　光明　出羽燦々</h2>
    <p>前人未踏の「精米歩合1％」きわめて繊細で洗練された味わい</p>
    <p>産地:山形県<br>
       アルコール度数:15度<br>
       日本酒度:-2<br>
       値段:720ml,132000円</p>

    <% elsif @perfume.question == "212" %>
    <h2>ねぶた　淡麗純米酒</h2>
    <p>淡麗でキレのある味わいの辛口純米酒</p>
    <p>産地:青森県<br>
　　　　アルコール度数:14~15度<br>
       日本酒度:+5<br>
       値段:720ml,1080円
       </p>

    <% elsif @perfume.question == "221" %>
    <h2>蒼天伝　大吟醸</h2>
    <p繊細な味わいと香りが楽しめる吟醸酒</p>
    <p>産地:宮城県
       アルコール度数:17度
       日本酒度:-1
       値段:720ml,3300円</p>

    <% elsif @perfume.question == "211" %>
    <h2>日高見　吟醸酒</h2>
    <p>サラリとした綺麗な酒質が特徴で、後に残る爽やかな余韻まで楽しめる吟醸酒</p>
    <p>産地:宮城県
       アルコール度数:17度
       日本酒度:+4
       値段:720ml,1870円</p>

    <% elsif @perfume.question == "121" %>
    <h2>宮寒梅　純米大吟醸</h2>
    <p>米の旨味をふんだんにたたえ、爽やかなキレが後味として訪れる。</p>
    <p>産地:宮城県<br>
       アルコール度数:15度<br>
       日本酒度:＋3.0<br>
       値段:720ml，2090円</p>

    <% elsif @perfume.question == "222" %>
    <h2>伯楽星　純米吟醸</h2>
    <p>糖度は低いが、ほのかな果実香が口に広がり、柑橘類のような爽やかな酸味が切れ味を演出する。</p>
    <p>産地:宮城県
    　 アルコール度数:15％
       日本酒度:+4
       値段:720ml,1660円</p>

    <% elsif @perfume.question == "213" %>
    <h2>三百年の掟やぶり　本醸造</h2>
    <p>麹のコクと旨味、そして微発砲感が特徴</p>
    <p>産地:山形県<br>
    アルコール度数:19.8度<br>
    日本酒度:＋9.0<br>
    値段:720ml，1320円</p>

    <% elsif @perfume.question == "123" %>
    <h2>一ノ蔵　無鑑査本醸造　甘口</h2>
    <p>やわらかできれいな甘さと米に由来する旨味が飲む人を和ませ、心地よい後味を演出する。</p>
    <p>産地:宮城県<br>
    アルコール度数:15度<br>
    日本酒度:-5~-3<br>
    値段:720ml，985円</p>

    <% elsif @perfume.question == "113" %>
    <h2>本仕込　浦霞</h2>
    <p>飲み飽きしない爽やかな香気と、やわらかな味わいと端正なキレが特徴。</p>
    <p>産地:宮城県<br>
    アルコール度数:15度<br>
    日本酒度:+1~+2<br>
    値段:720ml，1100円</p>

    <% elsif @perfume.question == "223" %>
    <h2>雪の松島　超辛口</h2>
    <p>飛び切り軽く、まろやかな味とうまさが特徴</p>
    <p>産地:宮城県<br>
    アルコール度数:18度<br>
    日本酒度:+20<br>
    値段:720ml，1298円</p>

    <% end %>

</div>

<%= link_to 'トップページに戻る', nihons_path %>