/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
    padding: 0;
    margin: 0;
  }
  body {
    font-family: 'Vollkorn', serif;
    text-align: center;
  }
  header {
    background-color: #4ec5b5;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header a {
    color: white; 
    text-decoration: none; 
  }
  header h1 {
    color: white;
    margin-left: 20px;
  }
  .header-list {
    display: flex;
    align-items: center;
  }
  header ul {
    display: flex;
  }
  header li {
    list-style: none;
    margin-right: 40px;
  }
  

  *, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  html {
    min-height: 100%;
    position: relative;
  }
  body {
    margin-bottom: 5em;
  }
  footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #9E9E9E;
    text-align: center;
  }
  footer .copyright {
    float: left;
    width: 50%;
  }
  footer .copyright p {
    font-size: 0.7em;
    line-height: 70px;
    padding-left: 10%;
    letter-spacing: 1px;
    color: #ffffff;
  }
  footer .sns {
    float: right;
    width: 50%;
  }
  footer .sns a {
    font-weight: bold;
    line-height: 70px;
    float: left;
    -webkit-transition: all, 0.3s;
            transition: all, 0.3s;
    text-align: center;
    text-decoration: none;
    color: white;
  }
  footer .sns a:hover {
    -webkit-transition: all, 0.3s;
            transition: all, 0.3s;
    background-color: #222222;
  }
  footer .sns .insta {
    font-size: 1.2em;
    width: 20%;
    background-color: #e4405f;
  }
  footer .sns .fb {
    font-size: 1.2em;
    width: 20%;
    background-color: #3b5999;
  }
  footer .sns .tw {
    font-size: 1.2em;
    width: 20%;
    background-color: #55acee;
  }
  footer .sns .contact {
    font-size: 0.8em;
    width: 40%;
    background-color: #26C6DA;
  }
  @media (max-width: 480px) {
    .contents {
      margin-bottom: 200px;
    }
    footer {
      height: auto;
    }
    footer .copyright {
      width: 100%;
    }
    footer .copyright p {
      padding: 0;
      text-align: center;
    }
    footer .sns {
      width: 100%;
    }
  }
  
  .menu-btn {
    position: fixed;
    top: 10px;
    right: 10px;
    display: flex;
    height: 60px;
    width: 60px;
    justify-content: center;
    align-items: center;
    z-index: 90;
    background-color: #3584bb;
}
.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
    content: '';
    display: block;
    height: 3px;
    width: 25px;
    border-radius: 3px;
    background-color: #ffffff;
    position: absolute;
}
.menu-btn span:before {
    bottom: 8px;
}
.menu-btn span:after {
    top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);/*メニューオープン時は真ん中の線を透明にする*/
}
#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  transform: rotate(45deg);
}
#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}
.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #3584bb;
}
.menu-content ul {
  padding: 70px 10px 0;
}
.menu-content ul li {
  border-bottom: solid 1px #070707;
  list-style: none;
}
.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  box-sizing: border-box;
  color:#0a0a0a;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}
.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 150%;/*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #f8fafb;
  transition: all 0.5s;/*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;/*メニューを画面内へ*/
}
.main{
  margin-left: auto;
  margin-right: auto;
}