.box {
    margin: 50px auto;
    width: 40%;
    border: solid #070808;
    border-radius: 10px;
    text-align: center;
    background-color: #5cbd8b;
  }

.title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

h2 {
  color: #000000;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-bottom: solid 3px #070707;/*下線*/
  font-family: 'Vollkorn', serif;
}

